<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>MULTER UPLOAD PHOTO</title>
  <link rel="stylesheet">
</head>

<body>
{{{ body }}}
<!-- --------------------------------------------pet profile form handlebars START -->
<h3>PET PROFILE</h3>

  <section class="card">
    <h2>Name: {{pet_name}}</h2>
    <p>Animal: {{animal}}</p>
    <p>Age: {{age}} years old</p>
    <p>Personality: {{personality}}</p>
    <p>Vaccinated: {{vaccinated}}</p>
    <p>Photo: {{photo}}</p>
    <p>Location: {{location}}</p>
    <p>username: {{user.username}}</p>
  </section>

<!-- --------------------------------------------pet profile form handlebars END -->
{{{ body }}}
</body>
</html>