<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Pawfect Match</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/dist/output.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  
  <!-- Define a Handlebars template for the user profile -->
  <script type="text/x-handlebars-template" id="user-profile-template">
    <div class="flex justify-center mb-16 mt-16">
      <!-- Profile Picture -->
      <img src="{{userProfilePic}}" class="w-44 h-44 rounded-full">
    </div>
  </script>
</head>

<body class="bg-gray-100 mt-20">
  <div class="flex justify-center items-center">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
      <div class="text-center mt-10">
        <!-- User Information -->
        <h2 class="text-xl font-semibold">{{pet_name}}</h2>
        <h2 class="text-gray-400 text-sm">{{location}}</h2>
        <div class="text-center mt-10">
          <!-- Send Message Button -->
          <a href="new-message.html" class="px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600">Send Message</a>
        </div>
        <h3 class="mt-10 text-black font-semibold mb-3">More Information</h3>
      </div>
      <section class="card">
        <p>Animal: {{animal}}</p>
        <p>Age: {{age}} years old</p>
        <p>Personality: {{personality}}</p>
        <p>Vaccinated: {{vaccinated}}</p>
      </section>
      <!-- Profile by User Name -->
      <div class="text-center text-black mt-10">
        <p>Profile By {{user.user_name}}</p>
      </div>
    </div>
  </div>

  <!-- Script to render the user profile picture using Handlebars -->
  <script>
    // Sample user data with the profile picture URL
    var userData = {
      userProfilePic: '{{photo}}'
    };

    // Compile the Handlebars template for the user profile picture
    var userProfileTemplate = document.getElementById("user-profile-template").innerHTML;
    var userProfileCompiled = Handlebars.compile(userProfileTemplate);
    var userProfileHtml = userProfileCompiled(userData);

    // Insert the user profile picture into the document
    var profilePictureContainer = document.querySelector(".flex.justify-center.mb-16.mt-16");
    profilePictureContainer.innerHTML = userProfileHtml;
  </script>

  <!-- Adjust the path to petprofile.js file -->
  <script src="/js/petprofile.js"></script>
</body>

</html>
