<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Play Dates</title>
  <link rel="stylesheet">
</head>

<body>
{{{ body }}}
<!-- --------------------------------------------pet dates form handlebars START -->
<h3>PET DATES</h3>

  <section class="card">
    <h2>name: {{PlayDate}}</h2>
    <p>date: {{date}}</p>
    <p>location: {{location}} years old</p>
    <p>photo: {{photo}}</p>
    <p>user: {{user.user_name}}</p>
  </section>

<!-- --------------------------------------------pet profile form handlebars END -->
{{{ body }}}
</body>
</html>